<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</button>
        <h4 class="modal-title">Shipping Options</h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <tr ng-repeat="shipOption in $ctrl.shippingOptions" ng-click="$ctrl.selectedOption = shipOption">
                <td><input type="radio" ng-value="shipOption" ng-model="$ctrl.selectedOption"></td>
                <td>{{shipOption.name}}</td>
                <td class="text-right">{{shipOption.price | currency}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.selectedOption" ng-click="$ctrl.close({$value: $ctrl.selectedOption})">Confirm</button>
    </div>
</div>