<div class="cart">
    <div class="row header">
        <div class="col-xs-12">
            <h1 class="text-center">Cart</h1>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="$ctrl.openShippingModal()">Shipping Options</button>
        </div>
    </div>
    <div class="row" ng-show="$ctrl.getCartItems().length > 0">
        <div class="col-xs-7">
            <h4 >Item</h4>
        </div>
        <div class="col-xs-3">
            <h4>Qty</h4>
        </div>
    </div>
    <div class="row cart-item" ng-repeat="item in $ctrl.getCartItems()">
        <div class="col-xs-3">
            <img ng-src="{{item.product.image.small}}" class="img-responsive" alt="">
        </div>
        <div class="col-xs-4">
            <p>{{item.product.name.slice(0,50)}}</p>
        </div>
        <div class="col-xs-3">
            <form name="cartQuantity" class="form-group" ng-class="{'has-error': cartQuantity.quantity.$error.min || cartQuantity.quantity.$error.integer}">
                <input type="number" class="form-control" ng-model="item.quantity" name="quantity" min="1" int required>
                <span class="text-danger" ng-show="cartQuantity.quantity.$error.integer">Invalid Quantity</span>
                <span class="text-danger" ng-show="cartQuantity.quantity.$error.min">Must be at least 1</span>
            </form>
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-remove" ng-click="$ctrl.remove(item.product)"></span>
        </div>
    </div>
    <div class="row" ng-show="$ctrl.getShippingPrice()">
        <h4 class="text-center">Shipping</h4>
        <div class="col-xs-6">
            <p class="text-center">{{$ctrl.getShippingProvider()}}</p>
        </div>
        <div class="col-xs-6">
            <p class="text-center">{{$ctrl.getShippingPrice() | currency}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Total: {{$ctrl.getTotal() | currency}}</h3>
        </div>
    </div>
</div>