.product-list {

  .product {

    min-height: 15em;
    border-bottom: solid black;
    margin: 1%;

    img {
      margin-top:2em;
    }

    .product-rating {
      cursor: pointer;
    }

    .description {
      margin-right: 1em;


      p {
        text-overflow: ellipsis;
      }
    }

    .add-to-cart {

      button {
      margin: 5%
    }
    }
  }
}

.cart {

  .header {

    button {
      display: block;
      margin: auto;
    }
  }

  .cart-item {
    margin-bottom: 3%;
    border-bottom: solid black 1px;
  }
}

.pagination {
  margin-left: 20%;
  margin-bottom: 2%
}