<div class="row product">
    <div class="col-xs-2">
        <img ng-src="{{$ctrl.product.image.small}}">
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-5">
                <h5>Name</h5>
                <p>{{$ctrl.product.name}}</p>
            </div>
            <div class="col-xs-2">
                <h5>Price</h5>
                <p>{{$ctrl.product.price | currency}}</p>
            </div>
            <div class="col-xs-4 product-rating">
                <h5>Rating</h5> <span uib-rating ng-model="$ctrl.product.rating" max="5" on-hover="hoveringOver(value)"
                                      on-leave="overStar = null"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="description">
                    <h5>Description</h5>
                    <p>{{$ctrl.product.shortDescription}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 add-to-cart">
        <h5>Quantity</h5>
        <form>
            <input class="form-control" type="number" placeholder="Qty" ng-model="$ctrl.quantity" integer min="1">
            <button class="btn btn-primary" ng-disabled="!$ctrl.canAddToCart()" ng-click="$ctrl.addToCart()">Add To Cart
            </button>
        </form>
    </div>
</div>