<div class="product-list" ng-repeat="product in $ctrl.products">
    <product product="product"></product>
</div>
<div >
    <ul class="pagination" uib-pagination direction-links="false" boundary-links="true" total-items="$ctrl.totalProductCount"
        ng-model="$ctrl.page" ng-change="$ctrl.getProducts()"></ul>
</div>